@charset "UTF-8";
:root {
    --black: rgba(44, 44, 44, 1);
    --mainblue: rgba(0, 127, 255, 1);
    --mainyellow: rgba(248, 197, 1, 1);
    --linegray: rgba(225, 230, 236, 1);
    --alarmred: rgba(254, 56, 56, 1);
    --fontgray: rgba(204, 199, 192, 1);
    --darkgray: rgba(86, 90, 102, 1);
    --graytest: rgba(128, 136, 146, 1);
    --white: rgba(255, 255, 255, 1);
    --2-2px-m-font-family: "AppleSDGothicNeoM00", Helvetica;
    --2-2px-m-font-weight: 400;
    --2-2px-m-font-size: 22px;
    --2-2px-m-letter-spacing: 0px;
    --2-2px-m-line-height: normal;
    --2-2px-m-font-style: normal;
    --1-8px-light-font-family: "AppleSDGothicNeoL00", Helvetica;
    --1-8px-light-font-weight: 400;
    --1-8px-light-font-size: 18px;
    --1-8px-light-letter-spacing: 0px;
    --1-8px-light-line-height: normal;
    --1-8px-light-font-style: normal;
    --1-4px-light-font-family: "AppleSDGothicNeoM00", Helvetica;
    --1-4px-light-font-weight: 400;
    --1-4px-light-font-size: 14px;
    --1-4px-light-letter-spacing: 0px;
    --1-4px-light-line-height: normal;
    --1-4px-light-font-style: normal;
    --1-4px-m-font-family: "AppleSDGothicNeoM00", Helvetica;
    --1-4px-m-font-weight: 400;
    --1-4px-m-font-size: 14px;
    --1-4px-m-letter-spacing: 0px;
    --1-4px-m-line-height: normal;
    --1-4px-m-font-style: normal;
    --1-6px-e-bold-font-family: "AppleSDGothicNeoEB00", Helvetica;
    --1-6px-e-bold-font-weight: 400;
    --1-6px-e-bold-font-size: 16px;
    --1-6px-e-bold-letter-spacing: 0px;
    --1-6px-e-bold-line-height: normal;
    --1-6px-e-bold-font-style: normal;
    --1-8px-m-font-family: "AppleSDGothicNeoM00", Helvetica;
    --1-8px-m-font-weight: 400;
    --1-8px-m-font-size: 18px;
    --1-8px-m-letter-spacing: 0px;
    --1-8px-m-line-height: normal;
    --1-8px-m-font-style: normal;
    --2-2px-b-font-family: "AppleSDGothicNeoB00", Helvetica;
    --2-2px-b-font-weight: 400;
    --2-2px-b-font-size: 22px;
    --2-2px-b-letter-spacing: 0px;
    --2-2px-b-line-height: normal;
    --2-2px-b-font-style: normal;
    --1-6px-b-font-family: "AppleSDGothicNeoB00", Helvetica;
    --1-6px-b-font-weight: 400;
    --1-6px-b-font-size: 16px;
    --1-6px-b-letter-spacing: 0px;
    --1-6px-b-line-height: normal;
    --1-6px-b-font-style: normal;
    --1-6px-m-font-family: "AppleSDGothicNeoM00", Helvetica;
    --1-6px-m-font-weight: 400;
    --1-6px-m-font-size: 16px;
    --1-6px-m-letter-spacing: 0px;
    --1-6px-m-line-height: normal;
    --1-6px-m-font-style: normal;
    --: 0px 4px 10px 0px rgba(143, 182, 218, 0.15);
}
